<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MainPorject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDashControllerServlet</display-name>
    <servlet-name>UserDashControllerServlet</servlet-name>
    <servlet-class>UserDash.DashControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashControllerServlet</servlet-name>
    <url-pattern>/UserDashControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorController</display-name>
    <servlet-name>VendorController</servlet-name>
    <servlet-class>vendors.VendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorController</servlet-name>
    <url-pattern>/VendorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>admin.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServices</display-name>
    <servlet-name>FetchServices</servlet-name>
    <servlet-class>admin.FetchServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServices</servlet-name>
    <url-pattern>/FetchServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>vendors.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventFetchServlet</display-name>
    <servlet-name>EventFetchServlet</servlet-name>
    <servlet-class>vendors.EventFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventFetchServlet</servlet-name>
    <url-pattern>/EventFetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventResultFetch</display-name>
    <servlet-name>EventResultFetch</servlet-name>
    <servlet-class>vendors.EventResultFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventResultFetch</servlet-name>
    <url-pattern>/EventResultFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceResultFetch</display-name>
    <servlet-name>ServiceResultFetch</servlet-name>
    <servlet-class>vendors.ServiceResultFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceResultFetch</servlet-name>
    <url-pattern>/ServiceResultFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAllVendors</display-name>
    <servlet-name>FetchAllVendors</servlet-name>
    <servlet-class>vendors.FetchAllVendors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAllVendors</servlet-name>
    <url-pattern>/FetchAllVendors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchCity</display-name>
    <servlet-name>fetchCity</servlet-name>
    <servlet-class>UserDash.fetchCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchCity</servlet-name>
    <url-pattern>/fetchCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchVendors</display-name>
    <servlet-name>FetchVendors</servlet-name>
    <servlet-class>UserDash.FetchVendors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchVendors</servlet-name>
    <url-pattern>/FetchVendors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCity</display-name>
    <servlet-name>FetchCity</servlet-name>
    <servlet-class>UserDash.FetchCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCity</servlet-name>
    <url-pattern>/FetchCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFav</display-name>
    <servlet-name>AddFav</servlet-name>
    <servlet-class>UserDash.AddFav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFav</servlet-name>
    <url-pattern>/AddFav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceFetch</display-name>
    <servlet-name>ServiceFetch</servlet-name>
    <servlet-class>UserDash.ServiceFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceFetch</servlet-name>
    <url-pattern>/ServiceFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchFavVendor</display-name>
    <servlet-name>fetchFavVendor</servlet-name>
    <servlet-class>UserDash.fetchFavVendor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchFavVendor</servlet-name>
    <url-pattern>/fetchFavVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signservlet</display-name>
    <servlet-name>signservlet</servlet-name>
    <servlet-class>UserDash.signservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signservlet</servlet-name>
    <url-pattern>/signservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>UserDash.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>admin.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteRecord</display-name>
    <servlet-name>deleteRecord</servlet-name>
    <servlet-class>vendors.deleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRecord</servlet-name>
    <url-pattern>/deleteRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>UserDash.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkUserServlet</display-name>
    <servlet-name>checkUserServlet</servlet-name>
    <servlet-class>UserDash.checkUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUserServlet</servlet-name>
    <url-pattern>/checkUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendSms</display-name>
    <servlet-name>SendSms</servlet-name>
    <servlet-class>UserDash.SendSms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSms</servlet-name>
    <url-pattern>/SendSms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePwd</display-name>
    <servlet-name>changePwd</servlet-name>
    <servlet-class>vendors.changePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePwd</servlet-name>
    <url-pattern>/changePwd</url-pattern>
  </servlet-mapping>
</web-app>